body {
  background-color: black;
}

.container {
  display: grid;
  grid-template-columns: 10fr 1fr 1fr 10fr;
  border: 4px black;
  height: 250vh;
}

.column {
  flex: 1;
  padding: 20 px;
  border: 1 px solid red;
}

/** MIDDLE COL **/

.middle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  overflow: hidden;
}

.centered-text {
  writing-mode: vertical-rl;
  white-space: nowrap;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: fit-content;
  border: 4px solid;
  font-size: 4.5vw;
}

.anchorBarLink {
  margin-top: 10vw;
  margin-bottom: 20vw;
}

a {
  text-decoration: none;
  /* color: white; */
}

/* font */
p,
h1,
h2,
h3,
a {
  /* font-family: 'Nanum Myeongjo', serif; */

  font-family: "Major Mono Display", monospace;
  font-weight: 400;
  font-style: normal;

  color: white;
}


/* iframe clock container */


.iframe-container {
  height: 1vw;
  width: 40vw;
  

  position: relative;
  padding-bottom: 100%;
  /* This aspect ratio ensures the iframe scales properly */
  overflow: hidden;
  border: none;
  /* Hides the scrollbar */
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  overflow: none;
  /* Removes the border around the iframe */
}

.clockwrapper {
  height: 35vw;
  overflow: hidden;
}

/* #clock {
  width: 44vw;
  height: 44vw;
} */


/* add some space from the borders in h1 h2 and p tags */
h1,
h2,
p {
  padding: 10px;
}

/* flowfield */

canvas {
  align-self: center;
  align-items: center;
}

/* Gallery */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.gallery img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  border: 1px solid #ddd;
  margin: 5px;
}

.lostfaith {
  box-shadow: 0px 0px 40px #249da3;
  width: 45vw;
  /* padding: 1vw; */
  scale: 90%;
}

.temperance {
  box-shadow: 0px 0px 40px #912120;
  width: 45vw;
  scale: 90%;
}