.text{
  top: 0;
  left: 0;
  position:absolute;
}

@keyframes float {
  from, to {
    transform: translateY(-0%);
  }
  
  50% {    
    transform: translateY(-3%);
  }
}

@keyframes background-pan {
  from {
    background-position: 1000% center;
  }
  
  to {
    background-position: 0% center;
  }
}

.businessCard {
  height: 60vh;
  background-color: black;
  margin: 0rem;
  overflow: hidden;
  display: grid;
  place-items: center;
}

.line {
  display: flex;
  justify-content: space-between;
}

.word {
  color: white;
  font-size: clamp(2rem, 8vw, 10rem);
  font-family: 'Quicksand', sans-serif;
  margin: 0rem;
  text-transform: lowercase;
  transition: opacity 250ms ease;
}


#text:has(.fancy:hover) .word:not(.fancy:hover) {
  opacity: 0.2;
}



.fancy span {
  display: inline-block;
}

.fancy > .outer {
  transition: transform 350ms ease;
}

.fancy:hover > .outer {
  transition-duration: 800ms;
}

.fancy:hover > .outer > .inner {
  animation: float 5s ease infinite;
}

